<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Health Tracker with Backbone.js</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/uikit.css">
  </head>
<body>
  <div class="uk-container">
    <nav class="uk-navbar">
      <ul class="uk-navbar-nav" id="menu">
        <li class="newmeal"><a>New meal</a></li>
        <li class="mymeals"><a>My meals</a></li>
      </ul>
    </nav>
    <div class="uk-grid">
      <div class="uk-width-medium-3-4 uk-row-first">
        <div id="calories-count">Total calories: <span id="calories"></span>
        </div>
        <div id="main" class="pages">
        </div>
        <div id="saved-meals-list" class="pages">
          <ul id="saved-meals">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--<script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="js/uikit.js"></script>
  <script src="../bower_components/underscore/underscore-min.js"></script>
  <script src="../bower_components/backbone/backbone-min.js"></script>
  <script src="../bower_components/backbone.localStorage/backbone.localStorage-min.js"></script>
-->  <script src="js/libraries/require.js" data-main="js/app.js"></script>

  <!--<script src="js/script.js"></script>-->

  <script type="text/template" id="item-template">
    <div class="view">
        <strong><%- title %></strong><span> <%- calories %> Calories</span>
        <button class="destroy">X</button>
    </div>
  </script>

</body>
</html>
